.blue      { color: #2267f2 }
.lightblue { color: #1bddf2 }
.green     { color: #3fbf04 }
.orange    { color: #f28705 }
.red       { color: #f24738 }
.purple    { color: #8839c7 }
.black     { color: #000000 }

body {
  font-family: "Helvetica Neue", sans-serif;
  color: #444;
  line-height: 1.5;
  margin: 0;
}

header {
  padding: 20px;
  max-width: 960px;
  margin: auto;
}

main {
  max-width: 1000px;
  margin: auto;
}

article {
  position: relative; /* for improve this link */
  padding: 20px;
}

.improve-this {
  position: absolute;
  top: 83px;
  right: 20px;
}

pre {
  border: 1px solid #ddd;
  padding: 1em;
  white-space: pre-wrap;
  overflow: auto;
  font-family: consolas, monaco, monospace;
  font-size: 12px;
  font-weight: 200;
  margin-top: 0;
}

body, h1, h2, h3, h4 {
  font-weight: 200;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 20px;
}

h3, h4 {
  margin-bottom: 0;
}

h4 + div > *:first-child {
  margin-top: 0;
}

a {
  color: #2267f2;
}

.code-iframe {
  border: 0;
  display: block;
  height: 40px;
}

.demo-header {
  margin-bottom: 0;
}

.introduction > *:first-child {
  margin-top: 0;
}

.header-link {
  text-decoration: none;
}

.introduction {
  font-size: 20px;
}

.incorrect-demos .code {
  background: #ffeeee;
}

.correct-demos .code {
  background: #eeffee;
}

svg.incorrect,
svg.correct {
  height: 20px;
  width: 20px;
  position: relative;
  top: 2px;
}

svg.incorrect {
  fill: #f24738;
}

svg.correct {
  fill: #3fbf04;
}


/* thanks http://philipwalton.github.io/solved-by-flexbox/demos/grids/ */

.Grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.Grid-cell {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    box-sizing: border-box;
}

.Grid--fit>.Grid-cell {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.Grid--full>.Grid-cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}

.Grid--gutters {
    margin-left: -2em;
}

.Grid--gutters>.Grid-cell {
    padding-left: 2em;
}

@media (min-width:48em) {
    .large-Grid--fit>.Grid-cell {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
}


